*{
    margin: 0;
    padding: 0;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;

}


img{
    max-width: none
;
}


html {
    font-size: 62.5%;
}